landsat_examples/data/*
landsat_examples/metadata/*
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.png
*.tif
*.tar.gz
*.tiff
launch.json
masking_pipeline/for_local_machine/metadata/LANDSAT_OT_C2_L2.csv.gz
